<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Provinces of Ireland</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ul>
    <li [routerLink]="['/ulster']" routerDirection="forward" Ulster>Ulster</li>
    <li [routerLink]="['/connacht']" routerDirection="forward" Connacht>Connacht</li>
    <li [routerLink]="['/munster']" routerDirection="forward" Munster>Munster</li>
    <li [routerLink]="['/leinster']" routerDirection="forward" Leinster>Leinster</li>
   </ul>
  </div>
</ion-content>
